.weui-navigation-bar {
  display: flex;
  overflow: hidden;
  color: rgba(0, 0, 0, .9);
  width: 100vw;
}

.weui-navigation-bar__inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 95px;
  width: 100vw;
  box-sizing: border-box;
}

.weui-navigation-bar__left {
  position: relative;
  width: 95px;
  padding-left: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.weui-navigation-bar__btn_goback_wrapper {
  padding: 11px 18px 11px 16px;
  margin: -11px -18px -11px -16px;
}

.weui-navigation-bar__btn_goback {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weui-navigation-bar__back-icon {
  width: 24px;
  height: 24px;
}

.weui-navigation-bar__center {
  font-size: 17px;
  text-align: center;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.weui-navigation-bar__right {
  position: relative;
  display: flex;
  align-items: center;
}
